@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*Heading and Logos styling*/

h1,
h2 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    width: 30%;
}

#searchbar {
    float: right;
    font-size: 200%;
    width: 30%;
}

/*Navbar styling*/
.nav {
    overflow: hidden;
    background-color: #adefd1ff;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    
    display: block;
    color: #00203fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #fef9ef;
    color: black;
}

.nav a.active {
    background-color: #00203fff;
    color: white;
}

.nav .icon {
    display: none;
}