@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Slab:wght@300&display=swap");

/* sets a margin, padding and border for all of the page removing the default one */
* {
    margin: 0;
    padding: 0;
    border: none;
    flex-direction: column;
}
html{
    height: 100%;
}
body {
    font-family: 'Merriweather', serif, sans-serif;
    font-weight: 250%;
    background-color: #b3bac7;
    display: flex;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
/*Heading, navabr and Logos styling*/

header {
    height: 80px;
    width: auto;

}
#main-logo {
    float: right;
    margin-right: 40px;
    font-size: 180%;

}

.navbar {
    font-size: 130%;
    letter-spacing: 2px;

}

h1,h2 {
    font-family: 'Roboto Slab', serif, sans-serif;
    color: #131619;
    letter-spacing: 2px;

}

.navbar li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 20px;

}

.navbar a {
    color: #131619;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 1px solid #131619;
}

.active {
    border-bottom: 2px solid #131619;
}

/*Tool bar section*/
#tool-bar{
    height: 600px;

}
#performance-wheel{
    padding-top: 30px;
    width: 40%;
    float: left;
}
#kpi{
    padding-top: 30px;
    width: 40%;
    float: right;
}

/* Footer */
footer {
    width: auto;
    height: 200px;
    margin: 0 auto;
    margin-top: auto;
}

.social-media {
    text-align: center;
    margin: auto;
}

.social-media i {
    font-size: 200%;
    /* padding: 2%; */
    /* margin: 0.5%; */
    color: #131619;

}

.social-media>li {
    display: inline;
}
