/* style html and body generic*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 8px;
}

/*App styling*/
.app {
    display: flex;
}

#link {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

/*nav styling*/
nav {
    height: 40vh;
    background-color: rgb(43, 43, 63);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

nav .logo-container img {
    width: 10px;
}

nav .icon {
    color: rgb(255, 255, 255);
}

/*dashboard styling*/
.dashboard {
    padding: 30px;
    width: 100%;
}

.dashboard .ticket-container {
    height: 80vh;
    overflow: scroll;
    float: right;
}

/* Ticket card*/

.ticket-card {
    display: flex;
    width: 80%
}

.ticket-card #link {
    display: flex;
    width: 100%;
}

.ticket-card #link>* {
    background-color: rgb(221, 221, 221);
    margin: 2px;
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}
.ticket-card .tick-color{
    width: 15px !important;
    padding: 5px  !important;
    margin: 2px;
}